<%- include('./partials/header') %>

<div class="content">
    <h1>Welcome</h1>
    <p>Your one-stop solution for all your cooking needs. Explore recipes or add your own.</p>
    <div class="section">
      <h2>Get Started</h2>
      <p><a href="/recipes">Explore Recipes</a> or <a href="/recipes/new">Add a New Recipe</a></p>
    </div>
  </div>
    
<%- include('./partials/footer') %>