<%- include('../partials/header') %>

<h2>Edit Cuisine</h2>

<form action="/cuisines/<%= cuisine._id %>?_method=PUT" method="POST">
  <label>Name:
    <input type="text" name="name" value="<%= cuisine.name %>">
  </label>
  <br>
  <button type="submit">Update Cuisine</button>
</form>

<%- include('../partials/footer') %>