<%- include('../partials/header') %>

<div id="badge-container">
  <% cuisines.forEach((cuisine) => { %>
    <div class="badge">
      <a href="/cuisines/<%= cuisine._id %>"><%= cuisine.name %></a>
    </div>
  <% }); %>
  </div>

<form id="add-cuisine-form" action="/cuisines" method="POST">
  <input type="text" name="name" id="cuisine-form" placeholder="Enter cuisine here">
  <input type="submit" value="Add Cuisine" data-processing="false">
</form>

<%- include('../partials/footer') %>

<script>
  const formElements = document.querySelectorAll("form");
  formElements.forEach((form) => {
    form.addEventListener("submit", (event) => {
      const submitButton = form.querySelector("[type='submit']");
      if (submitButton.getAttribute("data-processing") === "true") {
        event.preventDefault(); // Prevent the form from being submitted again
      } else {
        submitButton.setAttribute("data-processing", "true"); // Disable the submit button
        submitButton.disabled = true; // Disable the button visually
      }
    });
  });
</script>