<%- include('../partials/header') %>

<div id="badge-container">
  <% cuisines.forEach((cuisine) => { %>
    <div class="badge">
      <a href="/cuisines/<%= cuisine._id %>"><%= cuisine.name %></a>
    </div>
  <% }); %>
  </div>

<form id="add-cuisine-form" action="/cuisines" method="POST">
  <input type="text" name="name" id="cuisine-form" placeholder="Enter cuisine here">
  <input type="submit" value="Add Cuisine">
</form>

<%- include('../partials/footer') %>