<%- include('../partials/header') %>

<div id="badge-container">
  <% cuisines.forEach((cuisine) => { %>
    <div class="badge">
      <a href="/cuisines/<%= cuisine._id %>"><%= cuisine.name %></a>
    </div>
  <% }); %>
  </div>

<form id="add-cuisine-form" action="/cuisines" method="POST">
  <input type="text" name="name" id="name-form-cuisine" placeholder="Cuisine name (e.g., Italian, Cajun)">
  <input type="submit" value="Add Cuisine" data-processing="false">
</form>
<div class="error-message-container">
  <span class="error-message" id="name-error-cuisine"></span>
</div>

<%- include('../partials/footer') %>

<script>

  const formElements = document.querySelectorAll("form");
  formElements.forEach((form) => {
      form.addEventListener("submit", (event) => {
          const submitButton = form.querySelector("[type='submit']");

          // Dynamically get the validation function based on the form's context
          const validationFunction = getValidationFunction(form);

          if (validationFunction && !validationFunction()) {
              event.preventDefault(); // Prevent the form from being submitted again
              submitButton.removeAttribute("data-processing"); // Re-enable data-processing attribute
              submitButton.disabled = false; // Re-enable the button visually
          } else {
              submitButton.setAttribute("data-processing", "true"); // Disable the submit button
              submitButton.disabled = true; // Disable the button visually
          }
      });
  });

  function getValidationFunction(form) {
      if (form.id === "add-cuisine-form") {
          return validateCuisineForm;
      }
      return () => true;
  }

  function validateCuisineForm() {
    const cuisineNameField = document.getElementById("name-form-cuisine");
    const cuisineNameError = document.getElementById("name-error-cuisine");

    // Reset error message
    cuisineNameError.textContent = "";

    let isValid = true;

    const cuisineNameValue = cuisineNameField.value.trim();
    if (cuisineNameValue === "") {
      cuisineNameError.textContent = "Please enter a cuisine name.";
      isValid = false;
    }

    return isValid;
  }

</script>