<%- include('../partials/header') %>

<div>Before adding, please ensure that the Cuisine is not in the following list:</div>
<section id="badge-container">
  <% cuisines.forEach(function(c) { %>
    <article class="badge"><%= c.name %></article>
  <% }) %>
</section>

<form id="add-cuisine" action="/cuisines" method="POST">
  <label>Name:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Cuisi">
</form>

<%- include('../partials/footer') %>