<%- include('../partials/header') %>

<section id="badge-container">
  <% cuisines.forEach(function(c) { %>
    <article class="badge"><%= c.name %></article>
  <% }) %>
</section>

<form id="add-cuisine-form" action="/cuisines" method="POST">
  <label>Cuisine:</label>
  <input type="text" name="name">
  <input type="submit" value="Add Cuisine">
</form>

<%- include('../partials/footer') %>
