* {
  box-sizing: border-box;
  font-family: Helvetica;
  color: #333333;
}

html{
  background-color:rgb(255, 255, 255);
}

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-areas: 
    "nav"
    "main"
}

h1 {
  font-size: 60px;
}

body > nav {
  position: fixed; /* Add this line to make the navigation bar fixed */
  width: 100%;
  height: 6.5%; /* Make the navigation bar span the entire width */
  background-color: #292b2f;
  color: red;
  display: flex;
  justify-content: flex;
  align-items: center;
  padding: 0 20px 0 30px;
}

a {
  color: rgb(181, 181, 181);
  text-decoration: none;
}

nav > img {
  width: 90px;
  margin-top: 50px;
}

body > main {
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

body > main h1:first-child {
  margin-bottom: 50px;
}

nav > a {
  margin: 10px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: large;
}

nav > a:hover:not(.active) {
  color: white;
  background-color: #1c1c1c;
}

nav > a.active {
  color: red;
  cursor: default;
}

#add-ingredient-form *,
#add-cuisine-form * {
  font-size: 20px;
  padding: 5px;
  border-radius: 5px;
}

form {
  margin: 0 auto;
  align-content: center;
}

.form-container {
  background-color: #fafafa;
  padding: 15px;
  border-radius: .25rem;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
}

.form-container label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.form-container label span {
  width: 45%; 
}

.form-container input[type="text"],
.form-container select,
.form-container input[type="number"],
.form-container button {
  width: 50%; 
  padding: 5px;
  border: 1px solid #eeeeee;
  border-radius: 3px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

.form-container button {
  margin-top: 10px;
  background-color: #eeeeee;
}

.add-recipe-btn:hover {
  background-color: #e2e2e2;
}

label, input {
  display: inline;
}

label {
  text-align: right;
}

input+input {
  float: right;
}

.recipe-name {
  color: #333333;
}

table {
  background-color: #fafafa;
  padding: 15px;
}

table thead th {
  padding: 5px;
}

table td {
  padding: 10px;
  text-align: center;
  list-style: circle;
  content: "\a";
  white-space: pre-wrap;
  word-wrap:break-word;
}

tbody {
  list-style-type: decimal;
}

#list td:nth-child(2), #list td:nth-child(3){
  min-width: 100px;
}

#list a {
  border-radius: 4px;
  background-color: #eeeeee;
  padding: 4px;
  text-decoration: none;
  font-size: 14px;
}

#list a:hover {
  background-color: #e2e2e2;
}

h3 {
  font-size: 20px;
  text-decoration: none;
}

#add-ingredient-form,
#add-cuisine-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#add-cuisine-form input[type="submit"] {
  color: white;
  font-size: 1.6em;
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 0px 5px 5px 0px;
  padding: 10px 20px;
}

#cuisine-form {
  border: 1px solid #444444;
  border-radius: 5px 0px 0px 5px;
  padding: 10px 20px;
  font-size: 1.6em;
}

hr {
  color: #424748
}

#badge-container {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  width: 80%;
  border-radius: .25rem;
  margin: .5rem 0 2rem;
  background-color: #fafafa;
  justify-content: center;
}

.badge {
  color: #333333;
  background-color: #f1f1f1;
  padding: .8rem;
  margin: .5rem 1rem;
  border-radius: .25rem;
  font-size: 2.2em;
  text-align: center;
}

.badge > a {
  color: #333333;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 34px;
}

.login img {
  height: 30px;
}

.ingredient-user {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ingredient-user img {
  border-radius: 50%;
  height: 40px;
}

#recipe-div {
  background-color: #fafafa;
  border-radius: 5px;
  width: 900px;
  padding: 30px;
  padding-top: 50px;
}

#show-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 20px;
  font-size: 20px;
  width: 400px;
  padding-left: 30px;
}

#show-page div:nth-child(even) {
  font-weight: bold;
}

#show-ed-de-div {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

#ed-de-div {
  display: flex;
  flex-direction: row;
}

.ed-de-icon {
  height: 30px;
  width: 30px;
}

.hidden {
  display: none;
}

.trash-button {
  margin-left: 15px;
}

#close-button {
  padding: 3px 2px 2px 2px;
}

#confcanc-buttons {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

#add-ingredient-form input[type="submit"], #add-step-form input[type="submit"], #add-group-form input[type="submit"] {
  color: white;
  font-size: 20px;
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 0px 5px 5px 0px;
  padding: 7px 20px;
}

#servings-adjuster {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 30px;
}

#decrease-servings {
  color: white;
  font-size: 15px;
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 5px 0px 0px 5px;
  padding: 7px 7px;
  margin-right: -3px;
  margin-left: 10px;
}

#increase-servings {
  color: white;
  font-size: 15px;
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 0px 5px 5px 0px;
  padding: 7px 7px;
  margin-left: -3px;
  margin-right: 60px;
}

#servings-input {
  border-radius: 0px;
  border: 1px solid #444444;
  padding: 7px 10px;
  font-size: 15px;
  margin: -3px;
  width: 50px;
  text-align: center;
}

#toggleQuantityFormat {
  color: white;
  font-size: 16px;
  background-color: #444444;
  border: 1px solid #444444;
  border-radius: 5px 5px 5px 5px;
  padding: 7px 7px;
  margin-left: 10px;
  width: 60px;
}

#add-ingredient-form {
  display: grid;
  grid-template-columns: 1fr 2fr 5fr 2fr;
  width: 800px;
}

#add-step-form {
  display: grid;
  grid-template-columns: 9fr 1fr;
  vertical-align: top;
}

#add-group-form {
  display: grid;
  grid-template-columns: 3fr 1fr;
  vertical-align: top;
  width: 450px;
  font-size: 20px;
}

.x-form {
  text-align: right;
}

input:focus, select:focus, textarea:focus {
  outline: none;
  background-color: rgb(232, 240, 254)
}

#group-form {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #444444;
  padding: 7px 10px;
  font-size: 20px;
}

#ingredient-form, #measurement-form {
  border-radius: 0px;
  border: 1px solid #444444;
  padding: 7px 10px;
}

#measurement-form {
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #444444;
  padding: 6px 10px;
}

select {
  padding-right: 20px;
}

#quantity-form {
  text-align: center;
  width: 100px;
  border-radius: 5px 0px 0px 5px;
  border-width: 1px 0px 1px 1px;
  border-style: solid;
  border-color: #444444;
  padding: 7px;
}

#step-form {
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #444444;
  height: 100px;
  font-size: 20px;
  padding: 10px;
  resize: none;
}

.instruction-list {
  font-size: 20px;
  text-align: left;
  background-color: #fafafa;
  border-radius: 5px;
  margin: auto;
  width: auto;
  word-break:break-word;
}

ul, ol {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  grid-row-gap: 5px;
  grid-column-gap: 10px;
  padding-left: 35px;
  width: auto;
  margin: 0px 30px;
}

.group-container {
  margin-bottom: 20px;
}

.group-list {
  align-items: center;
  width: auto;
}

.group-divider {
  margin-top: 30px;
  border: 2px #dfdfdf solid;
  border-radius: 5px;
}

.group-li {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 0px 30px;
}

.group-name {
  flex: 8;
}

.group-edit {
  flex: 1;
}

.group-delete {
  flex: 1;
}

.ingredient-li {
  width: 564px;
  padding: 2px 0px;
}

.step-li {
  width: 564px;
  padding: 2px 0px;
}

.x-button {
  font-size: 15px;
  margin-right: auto;
}

.list-edit-button {
  height: 25px;
  width: 40px;
  margin-top: 1px;
  margin-left: 50px;
}

.input-contianer {
  display: flex;
  border: 2px solid #B8C0C2;
  border-radius: .5rem;
  background-color: #424748cd;
  padding: 10px;
}

.input-div {
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
  padding: 20px;
}